<!DOCTYPE html      PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<title>Polls: Vote!</title>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all"/>
<link rsf:id="scr=portal-matter" href="https://vula.uct.ac.za/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all"/>
<script rsf:id="scr=portal-matter" type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
</head>

<body rsf:id="scr=sakai-body">
<div class="portletBody">
  <div rsf:id="message-for:*">
	<span>Message for user here</span>
  </div>
<div class="navIntraTool" rsf:id="navintra:">
<a href="modify_email.html" rsf:id="actions-add">New Template</a>
</div>

<table class="listHier lines nolines" border="0" cellspacing="0" rsf:id="table:">
<tbody>
<tr>
	<th rsf:id="msg=mainview.key">Template key</th>
	<th rsf:id="locales:"><span rsf:id="locale"/></th>
</tr>
<tr rsf:id="template-row:">
	<td><span rsf:id="template-key">Template key</span></td>
	<td rsf:id="template-locales:"><a href="edit.html" rsf:id="template-edit"/></td>
</tr>
</tbody>
</table>

</div>
</body>
</html>
