<html>
  <head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <title>多媒体</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
    <script type="text/javascript" src="/library/js/headscripts.js"></script>
    <style>body { padding: 5px !important; }</style>
<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
margin-right:345px;
}
</style>
  </head>
  <body>
<blockquote>
<p>[<a id="return"  href="general_zh_CN.html"> 回到帮助首页</a>]</p>
<script>
   var a = document.getElementById('return');
   if (window.location.search != '')
      a.href=window.location.search.substring(1);
</script>
<h2>添加多媒体资料</h2>
<div>
<div style="width:335px; float: right; margin-left: 20px; valign:top">
<p style="margin-top:1em">&nbsp; <img width="346" height="260" border="1" src="lbimages/LB_Help_Multimedia_Lesson.png" alt="Multimedia Lesson Example" /></p>
<p>样例页中<b>添加多媒体</b> 已被用于添加YouTube视频。您可以去您想要添加的视频的页面，复制在浏览器顶部的地址栏的URL，添加即可。</p>
<hr />
<p><img width="275" height="290" border="1" alt="Youtube Edit Dialog Box Example" src="lbimages/LB_Help_Multimedia_Youtube_Edit.png" /></p>
<p>当您点击<b>编辑</b> 按钮时弹出的添加多媒体资料对话框</p>
</div>
<div style="valign:top">
<div class="textblock">
<p>您可以添加 电影，Flash演示，Youtube视频，其他网站到您的页面。</p>
<p>如果您使用<b>添加资源</b>，在您的页面上将出现一个可供点击的链接。</p>
<p>如果您使用<b>添加多媒体</b>，在您的页面中将出现一个多媒体框。右侧展示了一个例子。</p>
<p>Lesson Builder 会自动识别您添加的多媒体文件的类型，并使用相应的播放器。</p>
<p>一旦您添加了一个项目，您可能想使用<b>编辑</b>按钮来调整其大小。但是Lesson Builder无法自动调整视频或其他内容的大小，因此它采用了一个“安全”的默认大小。Lesson Builder将在该项目周围的显示一个黑框，以可以看到该项目是否填充在框中，学生们将不会看到这个黑框。</p>
<p>对于YouTube视频，您应该去这个视频的页面，复制浏览器顶部的地址栏的URL。不要使用“复制嵌入HTML”。</p>
</div>
<h2>无障碍使用</h2>
<div class="textblock">
<p>如果您关心残疾用户的使用体验，请务必使用“ 编辑“按钮来插入图像和多媒体对象的文字说明。您可能想创建一个独立的页面来更好地呈现内容，并提供相应的链接，这可以通过使用<b>添加子页</b>来实现。</p>
</div>
<h2>添加多媒体常见问题</h2>
<h2>有关IE浏览器注意事项</h2>
<div class="textblock">
<p>注：虽然Lesson Builder兼容IE浏览器，我们仍然建议当使用“添加多媒体”时使用其他浏览器(如火狐）。由于IE浏览器实现安全限制的方式，它可能不允许您编辑。</p>

<p>（如果在IE浏览器中页面上有问题，它有时不能完成页面加载，从而看不到对话框。</p>

<p>此外，当使用IE浏览器时，请确保您在页面上使用的每一个网址以“https：”开头。否则，您的用户将收到警告消息，并且一些多媒体内容将无法加载。如果这是不可能的，请使用Firefox浏览器。</p>

</div>
<h2>推荐的格式</h2>
<div class="textblock">
<p>就目前而言，如果您不需要使用如iPad之类的苹果便携式设备，我们建议使用FLV视频。Lesson Builder中使用Flash播放器，性能相当好。</p>

<p>如果您需要兼容苹果设备，MP4格式可能是您最好的选择。然而，MP4文件需要做特殊处理。MP4有很多类型，并不是所有类型都兼容iPad和iPhone。此外，并非所有格式转换器都能产生即点即播的文件。您可以使用QuickTime专业版中的”导出到iPhone”选项来转换文件，然后将文件格式修改为.mp4 。</p>

<p>不幸的是,当使用Windows的内置播放器来测试MP4文件结果并不令人满意。出于这个原因，Lesson Builder默认使用Flash来播放MP4文件（我强烈建议告诉您的用户安装Flash)。QuickTime和Windows Media有时可以播放MP4文件，但在Windows上可能会出错。尤其是当Flash不能使用时无法让文件即点即播。</p>

</div>
<h2>视频网站的网址</h2>
<div class="textblock">
<p>如果您想使用另一个网站的视频，您需要该视频的URL。很多时候，您会找到一个URL指向整个页面，但是您只想要这个视频本身。许多网站支持提供“嵌入”代码来实现这个功能。

例如，一个用户给了我们以下URL："http://v.youku.com/v_show/id_XMzA5NTgyNDQ=.html"如果您看它，您会发现一个页面含有大量文字，视频在它的中间。这将无法工作。视频下面有一个按钮“嵌入”。它给您一个“嵌入代码”
</p>


<blockquote>
&lt;embed src="http://player.youku.com/player.php/sid/XMzA5NTgyNDQ=/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"&gt;&lt;/embed&gt;
</blockquote>


<p>在这段代码中找到src，即</p>
<blockquote>http://player.youku.com/player.php/sid/XMzA5NTgyNDQ=/v.swf
</blockquote>将这个链接“添加多媒体”后，发现成功达到目的。
然而，如果Sakai系统使用以https开头的URL，那么您同样需将src改为:
<blockquote>
https://player.youku.com/player.php/sid/XMzA5NTgyNDQ=/v.swf
</blockquote>
虽然并不是所有站点都允许Saikai直接引用它们的视频，但这一方法对于大多数站点来说都是可行的。

</div>
<h2>图片大小问题</h2>
<div class="textblock">
<p>添加多媒体后，您可能会需要使用“ 编辑“按钮来调整大小。初始值为高300像素、宽和窗口宽度相同。这个大小可以让您看到内容，但您可能需要调整它的大小来匹配您的电影或Flash程序。
</p>

<p>
如果您没有设置正确的大小，有些播放器会伸长或切断图像。老版本的Windows Media Player（如Windows XP上）似乎特别容易出现这种问题。因此，对于电影，最好手动调节大小来匹配电影的实际大小和比例。
</p>
</div>
<h2>文件上传路径</h2>
<div class="textblock">
<p>“上传文件”功能通常将文件放在 一个独立的文件夹内（侧栏的每个工具对应一个独立的文件夹）。如果您喜欢自己整理文件，您可以使用“资源工具”上传您的文件来整理这些文件。然后，您可以使用“选择现有文件”来将文件放在一个页面中。</p>

<p>URLs实际上以文件形式存储在这个单元的文件夹里一个叫 <b>urls</b>的子目录中。</p>

</div>
<h2>帮助您的用户</h2>
<div class="textblock">
<p>不幸的是，能否播放电影、Flash等往往取决于浏览器。您可能要创建一个单元包含所有您要使用的类型的文件。这样可以使学生在课程一开始就确保他们已经安装了正确的插件。</p>
</div>
<h2>已知问题 </h2>
<div class="textblock">
<ol>
    <li>Macintosh电脑中的Windows Media Player有时会由于文件的私有性返回一个空白的图像。您可以使<b>资源</b>工具中的<b>编辑详细信息</b>选项来设置文件的权限。如果您有很多需要公开的文件，您可以将整个文件夹设置为<b>公开显示</b>。</li>

    <li>在Macintosh上使用Safari，如果您编辑一个YouTube视频，并改变了URL，页面更新后播放器是不存在的。但如果您刷新页面，又会正常工作，对于普通用户来说一切都很正常。</li>

    <li>当页面上有资源没有使用“https"URL时IE浏览器会发出警告讯息。存储在Sakai上的文件会自动提供合适的URL，但对于您自己定义的任何URL，您应该注意这一点。</li>

    <li>在Windows中，用户可能需要调整Internet Explorer中的安全设置。对于有些播放器类型，Active X需要 被启用。您可能没有得到任何提示说这是IE浏览器的问题，你看到的只是在本应出现视频的地方只有一个空框。</li>

    <li>如何您的Sakai网站使用https协议，Chrome浏览器要求您的资源文件的URL也是以https开头的。许多视频网站都支持https，因此您只需将URL中的http改为https即可</li>

    <li>如果您使用https的URL而且URL指向的网站没有安装合适的安全证书，有些播放器可能无法正常播放。</li>

    <li>插件与用户的对话可能会失败。例如，您需要在安装Acrobat后第一次运行Acrobat接受许可。Firefox会提示您去接受许可，但IE只会在本应出现内容的 地方返回一个空框。</li>

</ol>
</div>
</div>
</div>
</blockquote>
  </body>
</html>
