<html>
  <head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <title>学生内容</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <style>body { padding: 5px !important; }</style>
    
<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
}
.textblock2 {
background-color: #eeeeee;
}

</style>
  </head>
  <body>
<table cellspacing="15">
    <tbody>
        <tr>
            <td width="75%" valign="top">
            <h2>学生内容编辑入门</h2>
            <div class="textblock">
            <p>通过上面几种方式将您的内容添加到这个页面:
          <ul>
        <li> <b>添加文本</b> - 将文字输入到编辑器
        <li> <b>添加资源</b> - 上传文件或添加可使用项目的URL
        <li> <b>添加多媒体</b> - 添加展示到页面上的项目，比如一个Flash演示或一段视频
          </ul>
            如果您将鼠标指向某个命令，您将看到相应的一段关于这个命令功能的简介</p>
            <p>如果您已经添加了内容，您将会发现<b>编辑</b> 按钮紧靠着每个小项，您可以调整多媒体对象的大小，改变标题，添加说明等等  <b>编辑</b> 项目来发布活动和通知</p>
            </div>

            <h2>更多信息</h2>
            <div class="textblock textblock2">
            <ul>
                <li><a href="multimedia_zh_CN.html?student_zh_CN.html">多媒体内容</a>基于不同浏览器的深入指导和技术帮助</li>
                <li><a href="accessibility_zh_CN.html?student_zh_CN.html">无障碍网页</a>使用Lesson Builder创建可访问的内容</li>
            </ul>
            </div>
            </td>
        </tr>
    </tbody>
</table>
  </body>
</html>
