<html>
<head >
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
<script src="/library/js/headscripts.js" language="JavaScript" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="all" href="/library/skin/tool_base.css"/>
<link rel="stylesheet" type="text/css" media="all" href="/library/skin/default/tool.css"/>
<style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
margin-right:345px;
}

</style>

<body  onload="setMainFrameHeight('Main3d9c20bexcbc5x45c7x85a4xdf613b41b603')">
<p>
[<a href="general_zh_CN.html"> 回到帮助首页 </a>]

<h2> 使用CAMTASIA、WIMBA CREATE、ARTICULATE等工具添加内容</h2>

<p>
您可以在“更多工具”选择“添加网站”功能，在弹出的对话框内选择上传一个包含内容的ZIP压缩包。
这个工具特别对Camtasia, Wimba Create 和 Articulate三种工具提供支持，不过也同时支持你上传的任何
包含资源和文件的ZIP压缩包。

<p> 本功能支持的格式包括Camtasia, Wimba Create 和 Articulate, 
如果您上传了由以上三个工具一个ZIP压缩包，那么站点内自动会加入相应的对象。

<p> 本功能同样适用于在根目录包含index.html或index.htm的ZIP压缩包，课程展示工具会直接链接到该文件。

<p> 如果您提交的压缩包不满足以上导入条件，压缩包依旧会被保存到服务器，不过站点页面上不会加入相应的对象。
但是您可以在“添加资源”的“选择已有的文件”中找到您上传的这个图片，并将其加入到您的课程展示页面中。


</body>
</html>
