<html>
  <head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <title>顺序</title>
    <link href="/library/skin/tool_base.css" type="text/css" rel="stylesheet" media="all" />
    <link href="/library/skin/default/tool.css" type="text/css" rel="stylesheet" media="all" />
    <script type="text/javascript" language="JavaScript" src="/library/js/headscripts.js"></script>
    <style>body { padding: 5px !important; }</style>
    <style type="text/css">
 hr {border:none; border-top: dotted black 2px; margin-left:1em; margin-right: 1em}
.textblock {
-moz-border-radius: 1em;
-webkit-border-radius: 1em;
border-radius: 1em;
padding:0em 1em 1em 1em;
border: solid black 1px;
background-color: #ffffdd;
}

</style>
  </head>
  <body>


<blockquote>
<p>[<a href="general_zh_CN.html">回到帮助首页</a>]</p>
<h2>使用Lesson Builder中的顺序问题</h2>
<table>
    <tbody>
        <tr>
            <td width="75%" valign="top" style="padding-right: 15px">
            <div class="textblock">
            <p>有些用户可能需要控制学生学习的顺序。在有些情况下，某些组别的学生必须按顺序完成任务，特别是对于作业材料使用的认证。</p>
            <p>Lesson Builder 尽量避免强制用户为作业材料限定一条学习路线。相反的，它允许你声明特定的要求，但允许学生在不违反你的要求的前提下自由地使用作业材料。</p>
            <p>通过声明某些项目是必须先完成可以实现这个要求。有必要的话还可以声明某些项目必须等到其他必须项被完成时才能进行。</p>
            </div>
            </td>
            <td width="25%" valign="top">
            <p style="margin-top:1em"><img width="275" height="101" border="1" src="lbimages/LB_Help_Sequencing_Sequence.png" alt="Sequence Example" /></p>
            <p><i>样例一：</i> 一个有两个必须项目和一个测试的样例页面。前面有一个绿色对勾的讨论作业已经完成，前面有一个黑色星星的写作作业还没完成。测试选项目前是灰色的，因为它必须等到其他项目都完成时才能被激活。</p>
            </td>
        </tr>
    </tbody>
</table>
<h2>例子</h2>
<div class="textblock">
<p>经典使用场景:</p>
<ul>
    <li>每一单元有一些阅读材料和一个测试。学生必须首先阅读这些材料才能进行测试得到分数。</li>
    <li>当学生完成了所有单元，他们可以参加最后的认证考试。</li>
</ul>
<p>要实现这个功能，你需要把所有材料分成若干单元，每一个单元最后有个小测试。你可以使用<b>编辑</b> 按钮来设置某些项目为&quot;必须完成 &quot; 对于单元测试，你可以要求&quot;必须完成前期作业才能进行&quot;。这样，这个测试必须等到其他任务完成时才能进行。</p>
<p>你也可以通过使用单元<strong>标题</strong>旁边的<strong>设置</strong>按钮来声明整个单元都是&quot;必须&quot;的。</p>
<p>在这个例子里，所有单元都被设置成“必须”的，最后一个单元只包含了一个最终测试，它被设置成必须等到其他项目完成时才能进行。</p>
</div>
<h2>强制规定学习顺序</h2>
<div class="textblock">
<p>我们不建议设置太多的“必须”项，因为这可能会使学生不得不按照一个特定的顺序来完成项目，但事实上没必要这样做。</p>
<p>如果需要项目按照特定顺序被完成，你需要将除了第一个项目以外的所有项目设置成“必须完成前期作业才能进行”。
</p>
</div>
<h2>必做测试和任务</h2>
<div class="textblock">
<p>必做测试和任务比必做阅读困难点，你可以仅仅要求学生去做一下，但也可以规定要达到的最低分数。</p>
<p>如果你设置了最低分数，想一下如果学生没有达到该怎么办。你可能想允许测试或者任务可以被重新提交，这可以用“任务和测试工具”来控制。</p>
<p>注意到可能会出现有多个项目被声明“必须完成前期作业才能进行”，因此有可能会有很多必做阅读和任务。被标记为这样的项目必须等到它上面的所有必须项都被完成了才能进行。</p>
<p>这意味着你可以通过把一个单元里的所有项目都设置为必须项来强制学生按顺序完成任务。但是Lesson Builder工具并不是为了这个功能而开发的，所以它未必是实现这一功能的最好工具。</p>
</div>
</blockquote>
  </body>
</html>
